<!doctype html>
<html lang="">
<head>

    {# You can override the title block, or let United generate the title from the service definition. #}
    <title>{% block title %}{{ (united.item.namespace ~ '.title')|trans }}{% endblock %}</title>

    {# You can override, extend or modify the html head section in a controller. #}
    {% block head %}
        {{ include('@UnitedOne/head.html.twig') }}
    {% endblock %}
</head>
<body>

{# You can override or remove the header block in a controller. #}
{% block header %}
    <section class="united-one-header">
        {% block menu_toggle %}
            <button class="toggle-sidebar">
                <svg width="30px" height="30px" viewBox="0 0 30 30">
                    <g fill="#737373">
                        <rect class="rect-1" x="5" y="8" width="20" height="2"></rect>
                        <rect class="rect-2" x="5" y="14" width="20" height="2"></rect>
                        <rect class="rect-3" x="5" y="20" width="20" height="2"></rect>
                    </g>
                </svg>
                <span class="text">Navigation</span>
            </button>
        {% endblock menu_toggle %}

        {% block breadcrumb %}
            <p class="ui large breadcrumb">
                {% for parent in united.item.parents %}
                    <a class="section"
                       href="{{ united.url('', parent) }}">{{ (parent ~ '.index')|trans }}</a>
                    <span class="divider"> / </span>

                    {% if united_controller_view(parent) %}
                        {% set parent_entity = united_controller_view_entity(parent) %}
                        {% if parent_entity %}
                            <a class="section"
                               href="{{ united.url('view', parent, { id: parent_entity.id }) }}">{{ parent_entity }}</a>
                            <span class="divider"> / </span>
                        {% endif %}
                    {% endif %}

                {% endfor %}

                {% if  united.item.route == united.item.subRoute %}
                    <span class="active section">{{ (united.item ~ '.index')|trans }}</span>
                {% else %}
                    <a class="section"
                       href="{{ united.url }}">{{ (united.item ~ '.index')|trans }}</a>
                    <span class="divider"> / </span>
                    <span class="active section">{% block breadcrumb_item %}{{ united.item.subRouteName|trans }}{% endblock breadcrumb_item %}</span>
                {% endif %}
            </p>
        {% endblock breadcrumb %}
    </section>
{% endblock %}

{# You can override or remove the navigation block in a controller. #}
{% block navigation %}
    <section class="united-one-navigation ui sidebar">
        <nav>
            <ul class="ui large vertical text menu">
                {% for item in united.tree %}
                    <li class="item {% if item.activeTrail %} active{% endif %}">
                        {% if item.route != null %}<a href="{{ united.url('', item) }}">{% endif %}
                            {% if item.config.icon is defined %}<i class="{{ item.config.icon }} icon"></i>{% endif %}
                            {{ (item ~ '.menu')|trans }}
                            {% if item.route %}</a>{% endif %}
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </section>
{% endblock %}

{% block content_wrapper %}
    {# The only element, mendatory to implement, is the content block. #}
    <div class="pusher">
        <section class="united-content">
            <div class="united-content-inner">
                {% block content %}{% endblock %}
            </div>
        </section>
    </div>
{% endblock %}

{# You can override, extend or modify the javasvripts_head block. #}
{% block javascripts_footer %}
    {{ include('@UnitedOne/footer.javascripts.html.twig') }}
{% endblock %}
</body>
</html>